In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv("nation.csv")

In [3]:
data.isnull().sum()

Country      0
Age          6
Salary       3
Purchased    0
dtype: int64

In [5]:
df = data.dropna()
df

         Country   Age   Salary Purchased
0            USA  28.0  55000.0       Yes
3        Germany  45.0  60000.0        No
4         France  29.0  47000.0       Yes
6          Spain  30.0  35000.0       Yes
8          India  26.0  32000.0       Yes
9          China  32.0  48000.0        No
11        Brazil  40.0  40000.0        No
13        Russia  29.0  53000.0        No
15     Argentina  41.0  36000.0        No
16         Chile  27.0  39000.0       Yes
18  Saudi Arabia  33.0  55000.0       Yes

In [9]:
type(data['Age']) is int

False

In [10]:
df['Age'] = df['Age'].astype("int")
df["Age"]

C:\Users\inrup\AppData\Local\Temp\ipykernel_1936\1452348440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].astype("int")

0     28
3     45
4     29
6     30
8     26
9     32
11    40
13    29
15    41
16    27
18    33
Name: Age, dtype: int64

In [11]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [12]:
df['Salary']/df['Salary'].max()

0     0.916667
3     1.000000
4     0.783333
6     0.583333
8     0.533333
9     0.800000
11    0.666667
13    0.883333
15    0.600000
16    0.650000
18    0.916667
Name: Salary, dtype: float64

In [13]:
bins = np.linspace(min(df['Salary']),max(df['Salary']),4)
groups = ["low","medium","high"]
df["salbin"] = pd.cut(df["Salary"],bins,labels=groups,include_lowest=True)
print(df["salbin"])

0       high
3       high
4     medium
6        low
8        low
9     medium
11       low
13      high
15       low
16       low
18      high
Name: salbin, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

C:\Users\inrup\AppData\Local\Temp\ipykernel_1936\1522089986.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["salbin"] = pd.cut(df["Salary"],bins,labels=groups,include_lowest=True)

In [14]:
pd.get_dummies(df["Purchased"])

       No    Yes
0   False   True
3    True  False
4   False   True
6   False   True
8   False   True
9    True  False
11   True  False
13   True  False
15   True  False
16  False   True
18  False   True